services:
    php:
        image: app
        restart: unless-stopped
        environment:
            DEFAULT_URI: https://${SERVER_NAME:-localhost}:${HTTPS_PORT:-443}
            HOSTNAME_URI: http://host.docker.internal:8080
        volumes:
            - caddy_data:/data
            - caddy_config:/config
        ports:
            - name: http
              target: 80
              published: ${HTTP_PORT:-80}
              protocol: tcp

###> symfony/mercure-bundle ###
###< symfony/mercure-bundle ###
volumes:
    caddy_data:
    caddy_config:
###> symfony/mercure-bundle ###
###< symfony/mercure-bundle ###
